@import "tailwindcss";

.bg-grain {
  position: relative;
}
.bg-grain::before {
  content: "";
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.02;
  z-index: 50;
  pointer-events: none;
  background-image: url('https://grainy-gradients.vercel.app/noise.svg');
}